.UserSinglePost {
  background-color: #FFFEFF;
  opacity: 0.9;
}

.PostForm {
  opacity: 0.9;
}

.b-earn {
  height: 75;
  width: 75;
}

#Brand {
  font-family: Arvo;
}

.postpic {
  opacity: 1.0;
  object-fit: fill;
}

textarea {
  opacity: 0.85;
}

.LeaderBoardMain {
  background-color: #FFFEFF;
  opacity: 0.85;
}
.OtherLeaderboard {
  background-color: #FFFEFF;
  opacity: 0.85;
}

img.badge {
  height: 75;
  width: 75;
}

.darken {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5))
}

@media screen and (max-width: 575px) {
  .PostIndexPage {
    zoom: 0.7;
  }
}

