nav {
  background: white;
}

nav .nav-link {
  font-size: 0.8rem;
}

nav a {
  font-size: 0.8rem;
}

#nav-right {
  position: relative;
}

.NavBar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1;
}

