/* .WelcomePage {
  background-image: url("Volunteers-med.jpeg");
} */

.hero-text {
  
  position: absolute;
  top: 50%;
  
  transform: translate(0%,-50%);
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

.hero-text h1 {
  text-align: "left";
  font-weight: 700;
  font-family: Montserrat, serif;
}

.hero-text * {
  color: white;
}

.hero-text p {
  font-weight: 300;
}

.featurette {
  margin-bottom: 3em;
}

.featurettes {
  background-color: #E0F5FC;
}

.featurettes h2 {
  font-weight: 700;
  color: #757575;
}

.featurettes h2, .featurettes p {
  text-align: center;
}

.featurettes p {
  color: #757575;
}

.landing-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 3em;
}